textarea.form-control {
  border-top: 1px solid rgba(29, 37, 59, 0.5);
  border-right: 1px solid rgba(29, 37, 59, 0.5);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
textarea.form-control:hover, textarea.form-control:focus {
  border-top: 1px solid rgba(29, 37, 59, 0.5);
  border-right: 1px solid rgba(29, 37, 59, 0.5);
  border-color: #e14eca;
}
.input-group .form-control:last-child, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
  border-left: 1px solid #e14eca !important;
}
.form-group .input-group-prepend .input-group-text, .form-group .input-group-append .input-group-text, .input-group .input-group-prepend .input-group-text, .input-group .input-group-append .input-group-text {
  padding: 10px 18px 10px 18px;
}
